/* p:nth-child(2){
    color: blue;
} */
/* p:nth-child(2n){
    color: blue;
} */
/*p:nth-child(2*2){
    color: blue;
}*/

/* Nth child 2 ka matlab hai k woh paragragh jo apne parent ka second child hai uska color change hojae */

p:nth-of-type(2){
    color:red; 
}